<!DOCTYPE html>
<html lang="en">
<head>
	<title>Niner Connections</title>
	<!--Reused  meta  file in connection.ejs using include function -->
	<%include partials/meta.ejs %>
	<!--<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body>

	<div class="fullHeight">
		<!--Reused  header  file in connection.ejs using include function -->
		<%include partials/header.ejs %>
		<!--<div class="header">



			<a href="./index.html">
				<img id="image1" src="./image4.jpg" alt="brand image placeholder" />Niner Connections
			</a>

			<span class="signInPlaceholder">
				<a href="#">Start New Connection</a>
				<a href="./savedConnections.html">Sign Up</a>
				<a href="./savedConnections.html">Login</a>
			</span>
		</div>-->

<!--Reused  navigation file in connection.ejs using include function -->
<%include partials/navigation.ejs%>
		<!--<div class="topnav">
			<a href="./connections.html">Connections</a>

		</div>-->
		<div class="row fullHeight">


			<div class="column right fullHeight background2 fullWidth">
				<div class="maincontentConnection">
					<div class=""><h3><%=qs.connection_name%></h3></div>
					<div class="div2">
						Are you Going?3 People are going<br/>
	                   <button type="button" onclick="location.href='/rsvp?action=save&rsvp=Yes&connection_ID=<%= qs.connection_ID %>';">Yes</button>
						<button type="button" onclick="location.href='/rsvp?action=save&rsvp=No&connection_ID=<%= qs.connection_ID %>';">No</button>
						<button type="button" onclick="location.href='/rsvp?action=save&rsvp=MayBe&connection_ID=<%= qs.connection_ID %>';">MayBe</button>
						
							
							
						<button type="button" onclick="location.href='/connection/edit?connection_ID=<%= qs.connection_ID %>';">Edit Item</button>
						<button type="button" onclick="location.href='/connection/delete?connection_ID=<%= qs.connection_ID %>';">Delete Item</button>
						
					</div>


				</div>
				<br/>
				<br/>
				<p class="par">
					<img id="image12" src="<%=qs.imageURL%>" alt="brand image placeholder" />

					&nbsp; <%=qs.details%><br />
					&nbsp;&nbsp;<%=qs.date%><br />
					&nbsp;&nbsp;<%=qs.time%><br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=qs.location%><br />

				</p>

				<div class="maincontentConnection">
					<h3>Details</h3>
				</div>
				<p class="par">

						<%=qs.details%>

				</p>
			</div>
		</div>
		<!--Reused  footer file in connection.ejs using include function -->
		<%include partials/footer.ejs %>

		<!--<div class="footer">
			&copy; CCI Connections.
			&nbsp;&nbsp;&nbsp;<a href="#">About</a>
			&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>

			<i class="footerIcons fa fa-facebook"></i>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>

		</div>-->
	</div>
</body>
</html>
